body {
    font-family: arial;
    margin: 0;
}

nav {
    height: 70px;
    display: flex;
}

.secondary-block {
    color: white;
    background-color: rgb(4, 117, 186);
}

/*a {
    color: white;
} */

nav h2 {
    margin: 0;
    padding: 20px 0 20px 15px;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 24px;
    list-style-type: none;
}

nav li {
    margin-left: 15px;
}

header {
    text-align: center;
    padding: 40px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

header h2 {
    color: rgb(4, 117, 186);

}

header img {
    width: 150px;
    border-radius: 75px;
    box-shadow: 3px 3px 6px rgb(170, 170, 170);

}

section {
    padding: 40px;
}

#xp ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#xp li {
    margin-bottom: 10px;
}

#xp aside {
    float: right;
}

#education ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

#education li {
    margin-bottom: 10px;
  }

#education aside {
    float: right;
  }

footer {
      padding: 40px;
  }

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links {
      margin-bottom: 25px;
      width: 390px;
      display: inline-block;
}

a:hover {
    color: yellow;
}


a {
    color: white;
    -webkit-transition: color 1.5s ease-out;
    -moz-transition: color 1.5s ease-out;
    -o-transition: color 1.5s ease-out;
    -ms-transition: color 1.5s ease-out;
    transition: color 1.5s ease-out;
}

/*
img {
    transition: transform .7s ease-in-out;
}

img:hover {
    transform: rotate(360deg);
} */

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

img:hover {
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

header h2 {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
}
header h2:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

header h1 {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
}
header h1:hover {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}

nav h2 {
	width: 110px; height: 110px;
	margin: 3em;
	background: #fff;
	border: 20px solid black;
	border-radius: 66px;
	transition: all 2s; /* transition when the mouse over */
    color:  rgb(4, 117, 186);
}
nav h2:hover {
	border-color:  rgb(4, 117, 186);
	transform: rotate(1080deg);
	border-radius: 22%;
}