body{
    font-family: Arial;
    margin: 0px;

}
nav{
    height:70px;
    display: flex;
}
.secondary-block{
    text-decoration: white;
    background-color: rgb(4, 117, 186);
}
a{
    color: white;

}
nav h2{ 
    margin: 0px;
    padding: 20px,0px,20px,15px;
ta
}

nav ul{
    display: flex;
    margin: 0;
    padding: 24;
    list-style: none;
}
nav li{
    padding: 15px;
}
header{
    text-align: center;
    padding: 40px;

}
.content{
    max-width: 800px;
    margin: 0 auto;
}
header h2{
    color: rgb(4, 117, 186);
}
header img{
    width: 150px;
    border-radius: 75px;
    box-shadow: 3px,3px,6px,rgb(170, 170, 170);

}
section{
    padding: 40px;

}

